<body>
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link active" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Works</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Communication</a>
      </li>
    </ul>
  </div>
</nav>
<section>
  <img src="assets/mars_back.jpg" alt="background" id="marsBack"/>
  <h3 id="myName">Murat Yılmaz</h3>
  <img src="assets/mars_front.png" alt="background" id="marsFront"/>
  <!--TODO fotoğraflar düzelltilecek, soldan kesilecek.-->
</section>
<div class="text-center fixed-bottom bounce">
  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-down-short"
       viewBox="0 0 16 16">
    <path fill-rule="evenodd"
          d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
  </svg>
</div>
<div class="container about">
  <h1 id="aboutTitle">
    About Me
  </h1>
  <p id="aboutMe">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Duis tristique sollicitudin nibh sit amet. Pellentesque nec nam aliquam sem et tortor consequat id porta.
    Mattis enim ut tellus elementum sagittis vitae et leo duis. A scelerisque purus semper eget duis. Pretium lectus
    quam id leo. Amet nisl suscipit adipiscing bibendum est. Viverra adipiscing at in tellus integer feugiat
    scelerisque. In mollis nunc sed id semper risus in hendrerit. Scelerisque in dictum non consectetur a. Habitasse
    platea dictumst quisque sagittis purus. Vitae aliquet nec ullamcorper sit amet. Sit amet porttitor eget dolor morbi.
    A diam sollicitudin tempor id eu nisl nunc mi. Non arcu risus quis varius quam quisque id. Ornare quam viverra orci
    sagittis eu volutpat odio.

    Tincidunt dui ut ornare lectus. Ipsum a arcu cursus vitae congue mauris rhoncus. Proin sed libero enim sed faucibus
    turpis. Volutpat commodo sed egestas egestas fringilla phasellus faucibus scelerisque. Vivamus at augue eget arcu
    dictum varius duis at. Eros donec ac odio tempor orci. Dui ut ornare lectus sit. Lacus vestibulum sed arcu non odio
    euismod lacinia. Et pharetra pharetra massa massa ultricies mi quis hendrerit. Ac tortor dignissim convallis aenean.
    Feugiat in fermentum posuere urna nec. Aliquam eleifend mi in nulla. Malesuada pellentesque elit eget gravida cum
    sociis. Ut tellus elementum sagittis vitae et leo duis ut. Molestie nunc non blandit massa enim nec dui nunc mattis.
    Ultrices dui sapien eget mi proin sed. Est ultricies integer quis auctor elit sed. Molestie nunc non blandit massa
    enim nec dui nunc.

    Senectus et netus et malesuada fames. Nibh venenatis cras sed felis eget velit aliquet sagittis. Rhoncus aenean vel
    elit scelerisque mauris pellentesque pulvinar pellentesque. Vel turpis nunc eget lorem dolor. Quisque non tellus
    orci ac auctor augue mauris augue neque. Eget nunc lobortis mattis aliquam faucibus purus in massa tempor. Viverra
    orci sagittis eu volutpat odio facilisis mauris sit amet. Orci a scelerisque purus semper eget duis at. Est placerat
    in egestas erat imperdiet sed euismod. Velit laoreet id donec ultrices tincidunt. Duis tristique sollicitudin nibh
    sit amet commodo nulla facilisi nullam. Id nibh tortor id aliquet lectus. Id donec ultrices tincidunt arcu. Sed odio
    morbi quis commodo odio aenean sed. Mattis aliquam faucibus purus in. Tellus pellentesque eu tincidunt tortor
    aliquam nulla facilisi cras. Tincidunt tortor aliquam nulla facilisi cras fermentum. Massa ultricies mi quis
    hendrerit dolor magna.

    Curabitur gravida arcu ac tortor. Dolor morbi non arcu risus. Dignissim cras tincidunt lobortis feugiat vivamus at
    augue. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Fermentum iaculis
    eu non diam phasellus vestibulum lorem sed risus. Cras ornare arcu dui vivamus arcu felis bibendum ut. Habitasse
    platea dictumst quisque sagittis purus sit amet volutpat. Eget nunc scelerisque viverra mauris in aliquam. Proin
    nibh nisl condimentum id venenatis a condimentum vitae sapien. Ipsum dolor sit amet consectetur adipiscing elit
    pellentesque habitant. Nisi est sit amet facilisis magna. Nulla pellentesque dignissim enim sit amet venenatis urna
    cursus. Lacus laoreet non curabitur gravida. Odio euismod lacinia at quis. Sit amet consectetur adipiscing elit
    pellentesque habitant morbi tristique. Sed arcu non odio euismod lacinia at quis risus sed. Porttitor lacus luctus
    accumsan tortor posuere ac ut. Sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi. Sit amet mattis
    vulputate enim nulla aliquet porttitor.

    Quisque id diam vel quam elementum. Id porta nibh venenatis cras sed felis eget velit aliquet. Non nisi est sit
    amet. Habitasse platea dictumst vestibulum rhoncus. Dignissim diam quis enim lobortis scelerisque fermentum. Urna
    porttitor rhoncus dolor purus non enim praesent elementum. Nec nam aliquam sem et tortor consequat. Sollicitudin
    tempor id eu nisl nunc mi ipsum. Facilisis magna etiam tempor orci eu lobortis elementum. Magna sit amet purus
    gravida quis blandit turpis cursus.
  </p>
</div>
</body>
