$claret: #983d70;

.nav {
  z-index: 9999;
}

.nav-link {
  color: $claret;
  font-size: larger;
  font-weight: bold;
  margin: 2vh 2vh 0 0;
  padding-right: 1.5vh;
}

.nav-link .active {
  background-color: $claret;
}

@media screen and (min-width: 600px) {
  ul li:nth-last-child(-n+3) {
    list-style-type: disc;
  }
}
@media screen and (max-width: 600px) {
  ul {
    padding-top: 3vh;
  }
}
