<div class="container" style="margin-top: 8%">
  <div class="row">
    <div class="col-sm-6 ">
      <div class="d-flex flex-row-reverse bd-highlight">
        <img
          src="https://images.pexels.com/photos/5665104/pexels-photo-5665104.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          alt="" style="width: 35vh;" class="rounded mx-auto d-block">
      </div>
    </div>
    <div class="col-sm-6" style="display: flex; align-items: center;">
      <div class="d-flex flex-column bd-highlight mb-2">
        <div class="p-2 bd-highlight">
          <h1>Murat Yılmaz</h1>
        </div>
        <div class="p-2 bd-highlight">
          <span>Frontend Developer</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center fixed-bottom bounce">
  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
  </svg>
</div>

