@import "src/styles";

body{
  min-height: 100vh;
  background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 960 540' width='960' height='540' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Crect x='0' y='0' width='960' height='540' fill='%2317252A'%3E%3C/rect%3E%3Cg transform='translate(438.3025576182064 310.6080852253335)'%3E%3Cpath d='M136.8 -151.1C192.2 -116.6 262.3 -87.6 288.7 -36.3C315.1 14.9 297.9 88.5 252.3 125.2C206.7 161.9 132.7 161.8 78.8 154.6C24.8 147.4 -9.3 133.2 -60.3 130.1C-111.4 127 -179.6 135 -204.8 109.4C-230.1 83.9 -212.6 24.7 -200.6 -34.1C-188.7 -92.9 -182.4 -151.4 -149.9 -190C-117.4 -228.6 -58.7 -247.3 -9 -236.6C40.7 -225.8 81.4 -185.7 136.8 -151.1' fill='%23DEF2F1'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");  background-size: 100%;
  background-color: $back;
  background-repeat: no-repeat;
  background-position: center;
}

#knowMore {
  display: flex;
  justify-content: center;
  align-items: center;
}

#knowMore p {
  position: absolute;
  top: 25%;
  text-align: center;
  color: $myGreen;
  font-family: 'Molengo', sans-serif;
}

#icons, #hover {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 100%;
}

#icons svg, #hover svg {
  height: 80px;
  width: 80px;
  padding-top: 20px;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

#hover {
  z-index: 1;

  svg {
    fill: $myGreen;
  }
}

#icons {
  z-index: 20;

  svg:hover {
    position: relative;
    padding-right: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1800px) {
  body {
    background: $back;
  }
}




