@import "src/styles";

#icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  -webkit-transition: .7s;
  -moz-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
}

#icons svg {
  height: 80px;
  width: 80px;
  padding-top: 20px;
  -moz-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
  z-index: 999;
  &:hover{

  }
}

#hover{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



