@import "src/styles";

#icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  -webkit-transition: .7s;
  -moz-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
  flex-direction: column;
}

#icons svg {
  width: 360px;
  height: 80px;
  padding-top: 20px;
  -moz-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
  &:hover{
    padding-right: 250px;
  }
}

#icons li {
  padding: 25px;
}


