$myLightGreen: #3AAFA9;
$myGreen: #2B7A78;
$myWhite: #DEF2F1;
$myGray: #818c8a;
$back: #17252A;
$clean: #64485c;


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

h1, h2, h3, h4, h5, h6 {
  font-family: "Times New Roman", Times, serif;
}

p{
  font-family: "Lucida Console", "Courier New", monospace;
}
