$myLightGreen: #3aafa9;
$myGreen: #2b7a78;
$myWhite: #def2f1;
$myGray: #818c8a;
$back: #17252a;
$clean: #64485c;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 575.98px;

// Small tablets (portrait view)
$screen-md-min: 767.98px;

// Tablets and small desktops
$screen-lg-min: 991.98px;

// Large tablets and desktops
$screen-xl-min: 1199.98px;

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

p {
  font-family: "Lucida Console", "Courier New", monospace;
}

body {
  background: $back;
}
