/* You can add global styles to this file, and also import other style files */
$claret: #983d70;
$darkClaret: #4b1e37;
$likeWhite: #e4e7f2;

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
