@import "src/styles";

body {
  min-height: 100vh;
  background-color: $back;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

body #background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

}

#myName {
  font-size: 4vw;
  letter-spacing: 9px;
}

#nameTag {
  z-index: 9;
  top: 25%;
  left: 21%;
  position: absolute;
  padding: 20px;
  color: $myGreen;
  white-space: nowrap;
  text-align: center;
}

#tag {
  color: $myWhite;
}

#whoAmI {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  max-width: 70vh;
  top: 10%;
  color: $myGreen;
  p {
    z-index: 9;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 60vh;
  }
}

  img{
    position: relative;
    top: 2vh;
    height: 90vh ;
    border: 20px solid $myGray;
  }

@media screen and (max-width: 600px) {
  #myPic {
    display: none;
  }
  #whoAmI p {
    width: 100%;
  }
}


// Main page bouncing arrow
/*#bounce {
  -moz-animation: bounce 4s infinite;
  -webkit-animation: bounce 4s infinite;
  animation: bounce 4s infinite;
}
@keyframes bounce {
  50% {
    transform: translateY(-25px);
  }
};*/
