<body>
<section style="cursor: url('../../assets/scrollCursor.png'), auto">
  <img src="assets/homepageBackground.jpg" alt="background" id="marsBack" style="filter: blur(4px)"/>
  <div id="nameTag">
    <h3 id="myName">Murat Yılmaz</h3>
    <i id="tag">Frontend Developer</i>
  </div>
  <div id="buttons" style="opacity: 0; padding: 3px; cursor: url('../../assets/clickCursor.png'),pointer">
    <button type="button" class="btn btn-warning btn-lg mainButtons" routerLink= "/works" >Works</button>
    <button type="button" class="btn btn-warning btn-lg mainButtons" routerLink= "/communication" >Communication</button>
    <button type="button" class="btn btn-warning btn-lg mainButtons" routerLink= "/links" >Links</button>
  </div>
</section>
<!--<div class="text-center fixed-bottom" id="bounce">
  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-down-short"
       viewBox="0 0 16 16">
    <path fill-rule="evenodd"
          d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
  </svg>
</div>-->
</body>
