<body>

<section style="cursor: url('../../assets/scrollCursor.png'), auto">
  <div id="nameTag">
    <h3 id="myName">Hi, Murat</h3>
    <i id="tag">Frontend Developer</i>
  </div>
  <div id="whoAmI">
    <div class="container">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut debitis doloribus eaque enim, harum illo
        molestias
        nihil numquam ratione recusandae sed tempore vitae voluptatum! Accusamus modi optio rerum tempore veritatis.</p>
    </div>
  </div>
    <img src="assets/abstractStatue.jpg" alt="Thats me!" id="myPic">
</section>
<!--<div class="text-center fixed-bottom" id="bounce">
  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-down-short"
       viewBox="0 0 16 16">
    <path fill-rule="evenodd"
          d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
  </svg>
</div>-->
</body>
