@import "src/styles";
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200&family=Spectral:wght@300&display=swap');

body {
  min-height: 100vh;
  background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 960 540' width='960' height='540' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Crect x='0' y='0' width='960' height='540' fill='%2317252A'%3E%3C/rect%3E%3Cpath d='M630 540L608.7 522C587.3 504 544.7 468 526.7 432C508.7 396 515.3 360 513.7 324C512 288 502 252 489.8 216C477.7 180 463.3 144 492.2 108C521 72 593 36 629 18L665 0L960 0L960 18C960 36 960 72 960 108C960 144 960 180 960 216C960 252 960 288 960 324C960 360 960 396 960 432C960 468 960 504 960 522L960 540Z' fill='%23DEF2F1' stroke-linecap='round' stroke-linejoin='miter'%3E%3C/path%3E%3C/svg%3E");
  background-size: 100%;
  background-color: $back;
  background-repeat: no-repeat;
  background-position: center;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  #nameTag {
    top: 30%;
    position: absolute;
    color: $myGreen;
    text-align: center;
    left: 17vw;

    #myName {
      font-size: 6vw;
      letter-spacing: 5px;
      font-family: 'BioRhyme', serif;
    }

    #tag {
      color: $myWhite;
    }
  }

  #whoAmI {
    display: flex;
    position: relative;
    align-items: center;
    top: 10%;
    color: $myGreen;
    width: 55vh;
    right: 5vw;
  }

  .imgWrapper {
    position: relative;
    top: 2vh;
    left: 15vw;

    img {
      height: 75vh;
      border-radius: 50px;
    }

    .bottom-left {
      font-family: 'BioRhyme', serif;
      position: absolute;
      bottom: 12px;
      left: 32px;
    }
  }
}

@media screen and (max-width: 600px) {
  #myPic, .bottom-left {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  body {
    background: $back;
  }
  #myPic, .bottom-left {
    display: none;
  }
  #nameTag, #whoAmI {
    text-align: center;
    margin: 0;
    padding: 0;
    left: 0 !important;
    right: 0;
  }

}





