<body>
<section>
  <div id="nameTag">
    <h3 id="myName">Hi, Murat</h3>
    <i id="tag">Frontend Developer</i>
  </div>
  <div id="whoAmI">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut debitis doloribus eaque enim, harum illo
      molestias
      nihil numquam ratione recusandae sed tempore vitae voluptatum! Accusamus modi optio rerum tempore veritatis.</p>
  </div>
  <div class="imgWrapper">
    <img src="assets/abstractStatue.jpg" alt="I took this!" id="myPic">
    <div class="bottom-left">Musée du Louvre, My cam</div>
  </div>
</section>
</body>
