<body>
  <section>
    <div id="nameTag">
      <h3 id="myName">Hi, Murat</h3>
      <i id="tag">Frontend Developer</i>
    </div>
    <div id="whoAmI">
      <p>
        Young developer who is surprised by how much there is to learn
        every day. I want to complete challenging missions and be part of big stuff. 
        <br>Worked in professional projects with <span>Angular</span>, <span>Javascript</span>, <span>JQuery</span>, <span>Bootstrap</span> and more, here is my <a href="https://github.com/muratyilmaz743/me">Github</a>.
      </p>
    </div>
    <div class="imgWrapper">
      <img src="assets/abstractStatue.webp" alt="I took this!" id="myPic" />
      <div class="bottom-left">Musée du Louvre, My cam</div>
    </div>
  </section>
</body>
