@import "node_modules/swiper/swiper";
@import "node_modules/swiper/modules/pagination/pagination";
@import "node_modules/swiper/modules/navigation/navigation";

.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide>img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.swiper-slide h2, i {
  z-index: 999;
  display: block;
  font-weight: bold;
}

.swiper-slide h2 {
  color: #ea001a;
  border-style: solid;
  border-width: 0.08em 0;
  border-color: #484554;
  padding: 27px;
  -webkit-transition: .7s;
  -moz-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
}

.swiper-slide h2:hover {
  font-size: 2em;
  cursor: context-menu;
}

.swiper-slide i {
  color: #484554;
  font-size: large;
  margin-top: 4vh;
}

.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}

.dark-modal .close {
  color: white;
}

.light-blue-backdrop {
  background-color: #5cb3fd;
}

.contents {
  background-color: white;

}

.contents {
  margin-right: 25px;
  z-index: 999;
  width: 40%;
  background-color: rgba(200, 200, 200, 0.5);
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  display: inline;
  position: absolute;
  margin-top: 102vmax;
  -webkit-transition: .7s;
  -moz-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
}

#exampleImages img{
  filter: blur(4px);
  -webkit-transition: .7s;
  -moz-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
}

#exampleImages {
  z-index: 9;
  position: absolute;
  img{
    width: 250px;

  }
}


