<div class="row" id="firstRow">
  <div class="col-sm" style="background-color: yellow"><span>Project-1</span></div>
  <div class="col-sm" style="background-color: red"><span>Project-2</span></div>
  <div class="col-sm" style="background-color: yellow"><span>Project-3</span></div>

</div>
<div class="row" id="secondRow">
  <div class="col-sm" style="background-color: red"><span>Project-1</span></div>
  <div class="col-sm" style="background-color: yellow"><span>Project-2</span></div>
  <div class="col-sm" style="background-color: red"><span>Project-3</span></div>

</div>
