@import "node_modules/swiper/swiper";
@import "node_modules/swiper/modules/pagination/pagination";
@import "node_modules/swiper/modules/navigation/navigation";

.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.swiper-slide h1, i{
  z-index: 999;
  display: block;
}

i{
  font-size: large;
  margin-top: 3vh;
}
