@import "node_modules/swiper/swiper";
@import "node_modules/swiper/modules/pagination/pagination";
@import "node_modules/swiper/modules/navigation/navigation";
@import "src/styles";

.swiper {
  width: 100%;
  height: 100vh;
  background: $back;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: $myGray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 90%;
  margin-bottom: auto;
  margin-top: 50px;
}

.swiper-slide {
  > div {
    height: 90vh;
    width: 100%;
  }
}


.swiper-slide i {
  color: #484554;
  font-size: large;
  margin-top: 4vh;
}

.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}

.dark-modal .close {
  color: white;
}

.light-blue-backdrop {
  background-color: #5cb3fd;
}

  .companyLogo {
    grid-row-start: 1;
    grid-row-end: 3;
    height: 40vw;
    width: 40vw;
    display: block;
    img {
      min-width: 100%;
      min-height: 100%;
      border: 5px solid $myWhite;
      border-radius: 0 58px 0 58px;
    }
  }
  #companyName {
    text-align: start;
    font-size: 110px;
  }
  #definition {
    color: $myWhite;
    text-align: left;
  }

